<% layout('layout') -%>

<div class="custom-container" >
  <div class="page-header">
    <h3>Create Agent Account</h3>
  </div>
  <blockquote>
    Create An Agent Account
  </blockquote>
  <form name="signupForm" method="POST" class="form-horizontal" action="create" novalidate>
    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
    <div class="form-group">
      <label for="email" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-7">
        <input type="email" name="email" id="email" placeholder="Email" autofocus class="form-control"  required/>
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">Password</label>
      <div class="col-sm-7">
        <input type="password" name="password" id="password" placeholder="Password" class="form-control"  required ng-minlength="4"/>
        <div password-strength value="psw"></div>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword" class="col-sm-3 control-label">Confirm Password</label>
      <div class="col-sm-7">
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="form-control" required />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-7">
        <button type="submit" class="btn btn-success" >
          <i class="fa fa-user-plus"></i> Create
        </button>

        <div class="alert-container" >
          <hr>
          <div class="alert alert-danger">Passwords do not match!</div>
        </div>
        <div class="alert-container" >
          <hr>
          <div class="alert alert-danger">Password has to be at least 4 characters long!</div>
        </div>
      </div>
    </div>
  </form>
</div>