<% layout('layout') -%>

<h1>OnDemCom</h1>
<p class="lead">Welcome <%= user.profile.name || user.email %>.</p>
<hr/>
    <% if(!agentList.length) { %>
    	<p>No Agent Added</p>
    <% } else { %>
    	<div class="col-sm-12">
			<% for(var i=0; i < agentList.length; i++) { %>
			   <div>
			     <div class="col-sm-4"><%= agentList[i].email %></div>
			     <div class="col-sm-4"><%= agentList[i].profile.name %></div>
			     <div class="col-sm-4"><a href="admin/agent/<%=agentList[i].id %>">View Agent</a></div>
			   </div>
			<% } %>
		</div>
    <% } %>


<div class="row">
	<div class="col-sm-6">
		<a href="admin/create" >Create Agent</a>
	</div>
</div>
   
